*{
    padding: 0;
    margin: 0;
}
header{
    background-color: rgb(166, 166, 166 ,0.9);
    height: 80px;
    width:100%;
    position: fixed;

}
h1{color: white;
    position: absolute;
    /*left: 120px;*/
    top: 0;
    line-height: 95px;
    background-image: url("imgs/logo.png");
    background-repeat: no-repeat;
    background-position: left center;
    left:60px;
    width:450px;
    text-indent: -9999px;
}
header ul{
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}
header li{
    display: inline;
    margin-right: 4vw;}
header a{
    color: white;
    text-decoration: none;}
header a:hover{
    text-decoration: underline;
}
.news{
    background-color: white;
    color: #737373;
    height: 80vh;
    background-image: url("imgs/Cat.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    width:1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Error{
    background-color: white;
    color: #737373;
    height: 250px;

}
.Error h2{
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.Error p{
    font-size: 20px;
    display: flex;
    justify-content: center;
    line-height: 1.5em;
}
footer
{
    background-color: black;
    color: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1.5em;
}
.menu{
    display: none;
}
/*響應式語法*/
@media screen and (max-width: 760px){
    header ul{
        display: none;
        left: 50%;
        transform: translateX(-50%);
    }
    .news{
        width: 100%;
    }
    .Error h2{
        font-size: 20px;
    }
    .Error p{
        font-size: 14px;
    }
    footer{
        font-size: 12px;
    }
    .menu{
        display: block;
        background-color: transparent;
        color: white;
        font-size: 35px;
        position: absolute;
        top: 15px;
        left: 20px;
        border: none;
        cursor: pointer;
    }

}